*~
*.o
*.so
*.gz
ID
GPATH
GRTAGS
GSYMS
GTAGS

# GNU configure and build system
/aux
/.deps
/autom4te.cache
/aclocal.m4
/ar-lib
/compile
/config.cache
/config.h
/config.mk
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/Makefile
/Makefile.in
/stamp-h1

/test-driver
/test-suite.log

# TroglOS build system
/.config
/.stamp
/.unpacked

# WeOS build system
/.autoconf
/.automake
/.built

# VS Code user settings
.vscode
