*~
*.o
*.so
*.gz
*.map
.deps/*
.libs/*
configure
Makefile
Makefile.in
/.config
/.stamp
/.unpacked
/config.h
/config.mk
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/autom4te.cache/*
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
