/bin/busybox-x86_64
/bin/cat
/bin/cp
/bin/date
/bin/echo
/bin/env
/bin/find
/bin/initctl
/bin/kill
/bin/ls
/bin/mkdir
/bin/mkfifo
/bin/mknod
/bin/mount
/bin/pgrep
/bin/printf
/bin/ps
/bin/rm
/bin/sh
/bin/sleep
/bin/top
/bin/touch
/dev
/etc
/lib64
/proc
/sbin
/sys
/test_assets
/tmp
/usr
/var
